<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER PAGE</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
</head>
<body>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>


<div class="alert alert-success col-xs-offset-1 col-xs-10" th:text="${success}" th:if="${success}"></div>
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Menu</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
        <a href="/" role="menuitem"> Home Page</a>
    </div>
</div>
<form action="#" th:action="@{/update(role=${role})}"
      th:object="${user}" method="POST">
    <!-- LA THYMELEAF INAINTE SA INTRE IN FORM SE APELEAZA GETTER SI DACA DAM ID-UL DIN PRIMA VA DA GETTER DE ID-UL RESPECTIV-->
    <h1 th:text="'Hello user ' + ${user.firstName} + ' these are your details: '"></h1>
    <br><br>
    <h2 th:text="'First Name:  ' + ${user.firstName} "></h2>

    <h2 th:text="'Last name: ' + ${user.lastName}"></h2>

    <h2 th:text="'Email: ' + ${user.email} "></h2>

    <h2 th:text="'Username: ' + ${user.username}"></h2>
    <a th:href="@{/showFormForChangeDetails(userName=${user.username})}"
       class="btn btn-info btn-sm">Change details</a>
    <a th:href="@{/showFormForChangePassword}"
       class="btn btn-info btn-sm">Change password</a>
</form>
</body>
</html>